{% extends 'career/base.html' %}

{% load staticfiles %}

{% block title %}Career Service uni.li About{% endblock %}

{% block body_block %}
    <h1>Disclaimer</h1>

    <p>Rights of Use</p>

<p>Rights of Use<br>
Copyright &copy; by <br>
University of Liechtenstein <br>
F&uuml;rst-Franz-Josef-Strasse<br>
FL-9490 Vaduz</p>

<p>All rights reserved.</p>

<p>The copyright of this website belongs exclusively to the University of Liechtenstein.<br>
uni.li assumes neither responsibility nor guarantee for the timeliness, correctness or completeness of the information and data provided. This also applies to all other directly or indirectly designated websites referred to by hyperlink. uni.li is not responsible for the content of external internet pages.<br>
Liability claims against uni.li for material or non-material damage caused by the use of the information presented are precluded. uni.li expressly reserves the right to change, supplement or delete page segments or the entire offering without special notice. <br>
Any data you send to us is used exclusively to respond to your questions and to supplement or improve our Internet offerings. We also require no personal data from you to download information. Data received by us may only be shared with third parties insofar as is compatible with the data protection act.<br>
Images may only be used for editorial purposes. Usage is free of charge provided the source is specified and two complimentary specimen copies are supplied to the University of Liechtenstein in Vaduz. Graphic modifications are prohibited.<br>
It is hereby expressly permitted &ndash; subject to the stipulations cited below &ndash; to copy, print and distribute these webpages and their connected documents. The webpages and documents made available herein may be used for information purposes only. These pages and documents may not be used commercially. <br>
Each copy (including excerpts) must include this copyright notice. </p>

<p>
Liability<br>
Although we carefully examine external links, we assume no liability for their content. The operators of linked pages are solely responsible for their content. <br>
The University of Liechtenstein endeavours to provide a consistently current, textually correct and complete web offering. However, the occurrence of errors cannot be fully eliminated.The University of Liechtenstein assumes no responsibility for the timeliness, textual correctness or completeness of information included in it web offerings, unless the errors occur with intent or gross negligence. This includes any material or non-material damage to third parties caused by the use of this web offering.</p>
{% endblock %}