{% extends 'career/base.html' %}

{% load staticfiles %}

{% block title %}Career Service uni.li Job Offers{% endblock %}

{% block body_block %}

    <h1>Job Offer</h1>
    <p>Add new job offer <a href="{% url 'add_joboffer' %}" class="btn btn-default">here!</a></p>

    <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Workload Percentage</th>
        <th>Link to the Offer</th>
      </tr>
    </thead>
    <tbody>
    {% for joboffer in joboffers %}
      <tr>
        <td>{{ joboffer.title }}</td>
        <td>{{ joboffer.company }}</td>
        <td>{{ joboffer.workloadPercentage }} %</td>
        <td><a href="{{ joboffer.id }}">View Job Offer!</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}