{% extends 'career/base.html' %}

{% load staticfiles %}

{% block title %}Career Service uni.li About{% endblock %}

{% block body_block %}
    <h1>Privacy Policy</h1>

    <p>University of Liechtenstein<br>
F&uuml;rst-Franz-Josef Strasse<br>
9490 Vaduz<br>
Liechtenstein</p>

<p>Telephone +423 265 11 11<br>
E-mail: info@uni.li</p>

<p>
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *</p>

<p>You are currently on the website of the University of Liechtenstein. By accessing this page and all subpages you confirm to having read and understood the following policy guidelines. </p>

<p>If you have any questions relating to the following guidelines, please contact info@uni.li</p>

<p>Disclaimer<br>
The University of Liechtenstein endeavours to ensure that operations on its website are secure. It also strives to check the security of all external links by checking the linked page in advance for contents and credibility. However, faults such as loss of data, viruses, disrupted service or the like cannot be ruled out. The content of linked pages is the direct and exclusive responsibility of the relevant operator and we would like to point out that the operator of linked pages may also possess another Privacy Policy. In the same way, the University of Liechtenstein cannot guarantee that the website and its content are constantly up-to-date, correct or complete. </p>

<p>The University of Liechtenstein therefore accepts no liability whatsoever for damages or consequential damages that are incurred due to access of this website or the use of contents located on the website (e.g. downloads) or from a link to another website as well as all damages that occur in association with this website. </p>

<p>The University of Liechtenstein clearly stipulates that the use or distribution of contents, texts or images is subject to the express permission of the University of Liechtenstein. </p>

<p>Data protection<br>
Data that you supply to the University of Liechtenstein is used exclusively for internal purposes and for statistical purposes. Furthermore, we consistently use, save and collect data in compliance with current data protection laws. </p>

<p>The University of Liechtenstein uses cookies on this website. No personal data is captured with these cookies and use of the public website is possible even when the cookies function is deactivated.</p>


{% endblock %}